In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
df = pd.read_clipboard(index_col=False)

In [13]:
df

   index  a  b  c
0      1  2  3  4
1      2  3  4  5

In [23]:
df1 = df.iloc[:, 0:-3]
df1

   index
0      1
1      2