# ZILLOW

# Acquire

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from env import host, user, password

In [2]:
# Creating a string that connects me to MySQLWorkbench

def get_connection(db, user=user, host=host, password=password):
    '''
    get_connection uses login info from env.py file to access Codeup db.
    It takes in a string name of a database as an argument.
    '''
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [3]:
# Getting the data from the Codeup database

def get_zillow_data():
    '''
    zillow_data() gets the zillow (only properties_2017 table) data from Codeup db, then writes it to a csv file,
    and returns the DF.
    '''
    # Creating a SQL query
    sql_query = '''
                SELECT DISTINCT p17.*,
                    pred17.logerror,
                    pred17.transactiondate,
                FROM properties_2017 AS p17
                JOIN (
                    SELECT parcelid, MAX(transactiondate) AS max_sale_date
                    FROM prediction_2017 AS pred17 USING (parcelid))
                LEFT JOIN propertylandusetype USING (propertylandusetypeid)
                LEFT JOIN airconditioningtype USING (airconditioningtypeid)
                LEFT JOIN architecturalstyletype USING (architecturalstyletypeid)
                LEFT JOIN buildingclasstype USING (buildingclasstypeid)
                LEFT JOIN heatingorsystemtype USING (heatingorsystemtypeid)
                LEFT JOIN storytype USING (storytypeid)
                LEFT JOIN typeconstructiontype USING (typeconstructiontypeid)
                WHERE propertylandusedesc = 'Condominium' OR 'Single Family Residential'
                OR 'Townhouse' OR 'Cluster Home' OR 'Bungalow' OR 'Patio Home'
                AND longitude IS NOT NULL
                AND latitude IS NOT NULL
                AND transactiondate BETWEEN '2017-01-01' AND '2017-12-31';
                '''
    
    # Reading in the DataFrame from Codeup db.
    df = pd.read_sql(sql_query, get_connection('zillow'))
    return df

In [18]:
def get_zillow_data():
    '''
    zillow_data() gets the zillow (only properties_2017 table) data from Codeup db, then writes it to a csv file,
    and returns the DF.
    '''
    # Creating a SQL query
    sql_query = ''' 
                SELECT
                    prop.*,
                    predictions_2017.logerror,
                    predictions_2017.transactiondate,
                    air.conditioningdesc,
                    arch.architechturalstyledesc,
                    build.buildingclassdesc,
                    heat.heatingorsystemdesc,
                    story.storydesc,
                    construct.typeconstructiondesc
                FROM properties_2017 prop
                JOIN (
                    SELECT parcelid, MAX(transactiondate) AS max_sale_date
                    FROM predictions_2017) pred USING (parcelid)
                JOIN predictions_2017 ON pred.parcelid = predictions_2017.parcelid
                                      AND pred.max_transactiondate = predictions_2017.transactiondate
                LEFT JOIN propertylandusetype USING (propertylandusetypeid)
                LEFT JOIN airconditioningtype USING (airconditioningtypeid)
                LEFT JOIN architecturalstyletype USING (architecturalstyletypeid)
                LEFT JOIN buildingclasstype USING (buildingclasstypeid)
                LEFT JOIN heatingorsystemtype USING (heatingorsystemtypeid)
                LEFT JOIN storytype USING (storytypeid)
                LEFT JOIN typeconstructiontype USING (typeconstructiontypeid)
                WHERE propertylandusedesc = 'Condominium' OR 'Single Family Residential'
                OR 'Townhouse' OR 'Cluster Home' OR 'Bungalow' OR 'Patio Home'
                AND prop.longitude IS NOT NULL
                AND prop.latitude IS NOT NULL
                AND transactiondate BETWEEN '2017-01-01' AND '2017-12-31';
    '''
    df = pd.read_sql(sql_query, get_connection('zillow'))
    return df

In [ ]:
overv
Arsene BOUNDAONE...
predictions 20 transactiondate
arch.architecturalstyledesc,
build.buildingclassdesc,
JOIN
parcello
oregISiNGarcelia
AND pred.max transactiondate = predictions 201/.transactiondate
LEFT JOIN airconditioningtype air USING (airconditioningtypeid)
EFT 10TN buildingclasstyp
landuse USING (propertvlandusetvoeid)
(tvoeconstructiontvoeid
NIERE or. IS NO
pron. longitude is No Null
AND propertvlanducedece=
= Single Famlly Residential'
Â½ Cat Schlichting (she...

In [4]:
# Assigning the dataframe to a variable and displaying of it to have a first look

houses = get_zillow_data()
houses.head()

,parcelid,typeconstructiontypeid,storytypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,propertylandusetypeid,id,basementsqft,...,propertylandusedesc,id,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,storydesc,typeconstructiondesc
0,10859051,NaN,NaN,2.0,None,NaN,1.0,266.0,1853,NaN,...,Condominium,212.0,0.026735,2017-01-03,Central,None,None,Central,None,None
1,12859120,NaN,NaN,2.0,None,NaN,1.0,266.0,9323,NaN,...,Condominium,369.0,-0.017184,2017-01-03,Central,None,None,Central,None,None
2,14632619,NaN,NaN,NaN,None,NaN,NaN,266.0,13031,NaN,...,Condominium,3245.0,-0.064174,2017-01-17,None,None,None,None,None,None
3,11052658,NaN,NaN,2.0,None,NaN,1.0,266.0,17568,NaN,...,Condominium,400.0,-0.005658,2017-01-03,Central,None,None,Central,None,None
4,11270466,NaN,NaN,2.0,None,NaN,1.0,266.0,18257,NaN,...,Condominium,596.0,1.174471,2017-01-04,Central,None,None,Central,None,None

In [5]:
# Displaying number of rows and columns

houses.shape

(483837, 69)

In [6]:
# Displaying some general information about the data

houses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 483837 entries, 0 to 483836
Data columns (total 69 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   parcelid                      483837 non-null  int64
 1   typeconstructiontypeid        4089 non-null    float64
 2   storytypeid                   16 non-null      float64
 3   heatingorsystemtypeid         321319 non-null  float64
 4   buildingclasstypeid           0 non-null       object
 5   architecturalstyletypeid      3669 non-null    float64
 6   airconditioningtypeid         233279 non-null  float64
 7   propertylandusetypeid         483837 non-null  float64
 8   id                            483837 non-null  int64
 9   basementsqft                  16 non-null      float64
 10  bathroomcnt                   483837 non-null  float64
 11  bedroomcnt                    483837 non-null  float64
 12  buildingqualitytypeid         286661 non-null  float64
 13  calculatedbathnbr             480092 non-null  float64
 14  decktypeid                    3983 non-null    float64
 15  finishedfloor1squarefeet      30057 non-null   float64
 16  calculatedfinishedsquarefeet  480535 non-null  float64
 17  finishedsquarefeet12          480271 non-null  float64
 18  finishedsquarefeet13          0 non-null       object
 19  finishedsquarefeet15          208 non-null     float64
 20  finishedsquarefeet50          30057 non-null   float64
 21  finishedsquarefeet6           56 non-null      float64
 22  fips                          483837 non-null  float64
 23  fireplacecnt                  19001 non-null   float64
 24  fullbathcnt                   480092 non-null  float64
 25  garagecarcnt                  170635 non-null  float64
 26  garagetotalsqft               170635 non-null  float64
 27  hashottuborspa                703 non-null     float64
 28  latitude                      483837 non-null  float64
 29  longitude                     483837 non-null  float64
 30  lotsizesquarefeet             290714 non-null  float64
 31  poolcnt                       112110 non-null  float64
 32  poolsizesum                   73 non-null      float64
 33  pooltypeid10                  557 non-null     float64
 34  pooltypeid2                   146 non-null     float64
 35  pooltypeid7                   111846 non-null  float64
 36  propertycountylandusecode     483812 non-null  object
 37  propertyzoningdesc            295459 non-null  object
 38  rawcensustractandblock        483837 non-null  float64
 39  regionidcity                  473869 non-null  float64
 40  regionidcounty                483837 non-null  float64
 41  regionidneighborhood          226481 non-null  float64
 42  regionidzip                   479631 non-null  float64
 43  roomcnt                       483837 non-null  float64
 44  threequarterbathnbr           81041 non-null   float64
 45  unitcnt                       293559 non-null  float64
 46  yardbuildingsqft17            6412 non-null    float64
 47  yardbuildingsqft26            65 non-null      float64
 48  yearbuilt                     480409 non-null  float64
 49  numberofstories               59231 non-null   float64
 50  fireplaceflag                 2314 non-null    float64
 51  structuretaxvaluedollarcnt    482337 non-null  float64
 52  taxvaluedollarcnt             483633 non-null  float64
 53  assessmentyear                483837 non-null  float64
 54  landtaxvaluedollarcnt         483632 non-null  float64
 55  taxamount                     482782 non-null  float64
 56  taxdelinquencyflag            7650 non-null    object
 57  taxdelinquencyyear            7651 non-null    float64
 58  censustractandblock           472295 non-null  float64
 59  propertylandusedesc           483837 non-null  object
 60  id                            19342 non-null   float64
 61  logerror                      19342 non-null   float64
 62  transactiondate               19342 non-null   object
 63  airconditioningdesc           233279 non-null  object
 64  architecturalstyledesc        3669 non-null    object
 65  buildingclassdesc             0 non-null       object
 66  heatingorsystemdesc           321319 non-null  object
 67  storydesc                     16 non-null      object
 68  typeconstructiondesc          4089 non-null    object
dtypes: float64(54), int64(2), object(13)
memory usage: 254.7+ MB

In [ ]:
# Writing houses to csv on my computer

houses.to_csv('houses.csv')

In [7]:
# Displaying a first statistical analysis of the data through .describe()

houses.describe().T

,count,mean,std,min,25%,50%,75%,max
parcelid,483837.0,1.422563e+07,1.339549e+07,1.071452e+07,1.158247e+07,1.257071e+07,1.466618e+07,1.681833e+08
typeconstructiontypeid,4089.0,6.011494e+00,4.049775e-01,4.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00,1.300000e+01
storytypeid,16.0,7.000000e+00,0.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00
heatingorsystemtypeid,321319.0,3.916893e+00,5.580052e+00,1.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.400000e+01
architecturalstyletypeid,3669.0,7.212319e+00,2.216204e+00,2.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,2.700000e+01
airconditioningtypeid,233279.0,1.047338e+00,6.558377e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.300000e+01
propertylandusetypeid,483837.0,2.660000e+02,0.000000e+00,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02
id,483837.0,1.492971e+06,8.607849e+05,1.400000e+01,7.461310e+05,1.492125e+06,2.237380e+06,2.982283e+06
basementsqft,16.0,4.430000e+02,1.690140e+02,1.040000e+02,3.300000e+02,5.390000e+02,5.392500e+02,6.180000e+02
bathroomcnt,483837.0,2.178589e+00,7.505340e-01,0.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
bedroomcnt,483837.0,2.246333e+00,8.071282e-01,0.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,2.400000e+01
buildingqualitytypeid,286661.0,7.530438e+00,1.198513e+00,1.000000e+00,7.000000e+00,8.000000e+00,8.000000e+00,1.200000e+01
calculatedbathnbr,480092.0,2.195545e+00,7.283433e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
decktypeid,3983.0,6.600000e+01,0.000000e+00,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01
finishedfloor1squarefeet,30057.0,8.460533e+02,3.281999e+02,4.400000e+01,6.310000e+02,8.100000e+02,1.027000e+03,4.855000e+03
calculatedfinishedsquarefeet,480535.0,1.303852e+03,5.474775e+02,1.000000e+00,9.800000e+02,1.233000e+03,1.548000e+03,1.811290e+05
finishedsquarefeet12,480271.0,1.303668e+03,4.820340e+02,1.000000e+00,9.800000e+02,1.233000e+03,1.548000e+03,4.465700e+04
finishedsquarefeet15,208.0,9.365000e+02,2.907672e+02,4.620000e+02,6.910000e+02,8.830000e+02,1.182000e+03,2.339000e+03
finishedsquarefeet50,30057.0,8.471477e+02,3.292584e+02,4.400000e+01,6.310000e+02,8.100000e+02,1.027000e+03,4.855000e+03
finishedsquarefeet6,56.0,4.241661e+03,2.408634e+04,3.880000e+02,4.750000e+02,4.900000e+02,1.134500e+03,1.811290e+05
fips,483837.0,6.048864e+03,1.930629e+01,6.037000e+03,6.037000e+03,6.037000e+03,6.059000e+03,6.111000e+03
fireplacecnt,19001.0,1.048208e+00,2.270916e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00
fullbathcnt,480092.0,2.110997e+00,7.302618e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
garagecarcnt,170635.0,1.535670e+00,5.145061e-01,0.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,1.500000e+01
garagetotalsqft,170635.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
hashottuborspa,703.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
latitude,483837.0,3.395168e+07,2.403877e+05,3.333931e+07,3.375670e+07,3.398890e+07,3.414770e+07,3.470740e+07
longitude,483837.0,-1.181950e+08,3.640071e+05,-1.193024e+08,-1.184353e+08,-1.182140e+08,-1.178787e+08,-1.175605e+08
lotsizesquarefeet,290714.0,1.132032e+05,2.121601e+05,1.080000e+02,1.614000e+04,4.325100e+04,1.296100e+05,3.589145e+06
poolcnt,112110.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
poolsizesum,73.0,4.058356e+02,1.171537e+02,1.000000e+02,3.500000e+02,4.170000e+02,4.810000e+02,7.390000e+02
pooltypeid10,557.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid2,146.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid7,111846.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
rawcensustractandblock,483837.0,6.049143e+07,1.915861e+05,6.037101e+07,6.037301e+07,6.037621e+07,6.059053e+07,6.111009e+07
regionidcity,473869.0,3.351741e+04,3.895514e+04,3.491000e+03,1.244700e+04,2.696400e+04,4.629800e+04,3.965560e+05
regionidcounty,483837.0,2.454543e+03,8.381708e+02,1.286000e+03,1.286000e+03,3.101000e+03,3.101000e+03,3.101000e+03
regionidneighborhood,226481.0,1.996802e+05,1.709009e+05,6.952000e+03,4.673600e+04,2.680570e+05,2.754260e+05,7.641670e+05
regionidzip,479631.0,9.651887e+04,3.858767e+02,9.598300e+04,9.618600e+04,9.638500e+04,9.696600e+04,9.733000e+04
roomcnt,483837.0,6.635003e-01,1.767775e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.500000e+01
threequarterbathnbr,81041.0,1.001728e+00,4.152779e-02,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00
unitcnt,293559.0,1.002708e+00,4.738757e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.320000e+02
yardbuildingsqft17,6412.0,1.507372e+02,9.684927e+01,1.000000e+01,8.300000e+01,1.190000e+02,1.920000e+02,1.232000e+03
yardbuildingsqft26,65.0,5.824615e+01,1.057451e+02,2.500000e+01,2.500000e+01,3.000000e+01,3.300000e+01,7.390000e+02
yearbuilt,480409.0,1.984563e+03,1.425503e+01,1.880000e+03,1.975000e+03,1.984000e+03,1.992000e+03,2.016000e+03
numberofstories,59231.0,1.516891e+00,5.440397e-01,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+01
fireplaceflag,2314.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
structuretaxvaluedollarcnt,482337.0,1.645696e+05,1.427231e+05,9.000000e+00,9.651400e+04,1.387370e+05,1.976910e+05,1.374578e+07
taxvaluedollarcnt,483633.0,3.667190e+05,3.214938e+05,8.000000e+00,1.964280e+05,3.023950e+05,4.509400e+05,2.896348e+07
assessmentyear,483837.0,2.015999e+03,4.493992e-02,2.014000e+03,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03
landtaxvaluedollarcnt,483632.0,2.025908e+05,2.306987e+05,8.000000e+00,7.548000e+04,1.518950e+05,2.664030e+05,2.355912e+07
taxamount,482782.0,4.479071e+03,3.893498e+03,1.257000e+01,2.432420e+03,3.654535e+03,5.443105e+03,5.966327e+05
taxdelinquencyyear,7651.0,1.402287e+01,2.388288e+00,0.000000e+00,1.400000e+01,1.400000e+01,1.500000e+01,9.800000e+01
censustractandblock,472295.0,6.049101e+13,1.921106e+11,6.037101e+13,6.037301e+13,6.037621e+13,6.059053e+13,6.111009e+13
id,19342.0,3.875957e+04,2.248488e+04,4.000000e+00,1.926850e+04,3.864250e+04,5.853375e+04,7.760800e+04
logerror,19342.0,1.291455e-02,1.427623e-01,-3.737018e+00,-2.112929e-02,5.852932e-03,3.344307e-02,3.123634e+00

In [10]:
# Displaying statistical analysis of the data through.descibe()
# with astype('int64') to cut through all the noise of the float data

houses.describe().T.astype('int64')

,count,mean,std,min,25%,50%,75%,max
parcelid,483837,14225634,13395488,10714522,11582473,12570713,14666180,168183267
typeconstructiontypeid,4089,6,0,4,6,6,6,13
storytypeid,16,7,0,7,7,7,7,7
heatingorsystemtypeid,321319,3,5,1,2,2,2,24
architecturalstyletypeid,3669,7,2,2,7,7,7,27
airconditioningtypeid,233279,1,0,1,1,1,1,13
propertylandusetypeid,483837,266,0,266,266,266,266,266
id,483837,1492971,860784,14,746131,1492125,2237380,2982283
basementsqft,16,443,169,104,330,539,539,618
bathroomcnt,483837,2,0,0,2,2,3,18
bedroomcnt,483837,2,0,0,2,2,3,24
buildingqualitytypeid,286661,7,1,1,7,8,8,12
calculatedbathnbr,480092,2,0,1,2,2,3,18
decktypeid,3983,66,0,66,66,66,66,66
finishedfloor1squarefeet,30057,846,328,44,631,810,1027,4855
calculatedfinishedsquarefeet,480535,1303,547,1,980,1233,1548,181129
finishedsquarefeet12,480271,1303,482,1,980,1233,1548,44657
finishedsquarefeet15,208,936,290,462,691,883,1182,2339
finishedsquarefeet50,30057,847,329,44,631,810,1027,4855
finishedsquarefeet6,56,4241,24086,388,475,490,1134,181129
fips,483837,6048,19,6037,6037,6037,6059,6111
fireplacecnt,19001,1,0,1,1,1,1,3
fullbathcnt,480092,2,0,1,2,2,3,18
garagecarcnt,170635,1,0,0,1,2,2,15
garagetotalsqft,170635,0,0,0,0,0,0,0
hashottuborspa,703,1,0,1,1,1,1,1
latitude,483837,33951682,240387,33339312,33756700,33988900,34147700,34707400
longitude,483837,-118194964,364007,-119302440,-118435278,-118214000,-117878659,-117560453
lotsizesquarefeet,290714,113203,212160,108,16140,43251,129610,3589145
poolcnt,112110,1,0,1,1,1,1,1
poolsizesum,73,405,117,100,350,417,481,739
pooltypeid10,557,1,0,1,1,1,1,1
pooltypeid2,146,1,0,1,1,1,1,1
pooltypeid7,111846,1,0,1,1,1,1,1
rawcensustractandblock,483837,60491426,191586,60371011,60373007,60376213,60590525,61110088
regionidcity,473869,33517,38955,3491,12447,26964,46298,396556
regionidcounty,483837,2454,838,1286,1286,3101,3101,3101
regionidneighborhood,226481,199680,170900,6952,46736,268057,275426,764167
regionidzip,479631,96518,385,95983,96186,96385,96966,97330
roomcnt,483837,0,1,0,0,0,0,45
threequarterbathnbr,81041,1,0,1,1,1,1,2
unitcnt,293559,1,0,1,1,1,1,232
yardbuildingsqft17,6412,150,96,10,83,119,192,1232
yardbuildingsqft26,65,58,105,25,25,30,33,739
yearbuilt,480409,1984,14,1880,1975,1984,1992,2016
numberofstories,59231,1,0,1,1,1,2,20
fireplaceflag,2314,1,0,1,1,1,1,1
structuretaxvaluedollarcnt,482337,164569,142723,9,96514,138737,197691,13745782
taxvaluedollarcnt,483633,366718,321493,8,196428,302395,450940,28963479
assessmentyear,483837,2015,0,2014,2016,2016,2016,2016
landtaxvaluedollarcnt,483632,202590,230698,8,75480,151895,266403,23559121
taxamount,482782,4479,3893,12,2432,3654,5443,596632
taxdelinquencyyear,7651,14,2,0,14,14,15,98
censustractandblock,472295,60491005609106,192110600670,60371011101007,60373005022008,60376212041020,60590525114003,61110088002022
id,19342,38759,22484,4,19268,38642,58533,77608
logerror,19342,0,0,-3,0,0,0,3

In [14]:
houses.head()

,parcelid,typeconstructiontypeid,storytypeid,heatingorsystemtypeid,architecturalstyletypeid,airconditioningtypeid,propertylandusetypeid,id,basementsqft,bathroomcnt,...,censustractandblock,propertylandusedesc,id,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,heatingorsystemdesc,storydesc,typeconstructiondesc
0,10859051,NaN,NaN,2.0,NaN,1.0,266.0,1853,NaN,3.0,...,6.037141e+13,Condominium,212.0,0.026735,2017-01-03,Central,None,Central,None,None
1,12859120,NaN,NaN,2.0,NaN,1.0,266.0,9323,NaN,3.0,...,6.037403e+13,Condominium,369.0,-0.017184,2017-01-03,Central,None,Central,None,None
2,14632619,NaN,NaN,NaN,NaN,NaN,266.0,13031,NaN,2.0,...,6.059032e+13,Condominium,3245.0,-0.064174,2017-01-17,None,None,None,None,None
3,11052658,NaN,NaN,2.0,NaN,1.0,266.0,17568,NaN,2.0,...,6.037117e+13,Condominium,400.0,-0.005658,2017-01-03,Central,None,Central,None,None
4,11270466,NaN,NaN,2.0,NaN,1.0,266.0,18257,NaN,3.0,...,6.037901e+13,Condominium,596.0,1.174471,2017-01-04,Central,None,Central,None,None

In [11]:
# Checking for duplicates

houses.columns.duplicated().any()

True

In [15]:
# Dropping the duplicates

houses.drop_duplicates(keep=False)

,parcelid,typeconstructiontypeid,storytypeid,heatingorsystemtypeid,architecturalstyletypeid,airconditioningtypeid,propertylandusetypeid,id,basementsqft,bathroomcnt,...,censustractandblock,propertylandusedesc,id,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,heatingorsystemdesc,storydesc,typeconstructiondesc
0,10859051,NaN,NaN,2.0,NaN,1.0,266.0,1853,NaN,3.0,...,6.037141e+13,Condominium,212.0,0.026735,2017-01-03,Central,None,Central,None,None
1,12859120,NaN,NaN,2.0,NaN,1.0,266.0,9323,NaN,3.0,...,6.037403e+13,Condominium,369.0,-0.017184,2017-01-03,Central,None,Central,None,None
2,14632619,NaN,NaN,NaN,NaN,NaN,266.0,13031,NaN,2.0,...,6.059032e+13,Condominium,3245.0,-0.064174,2017-01-17,None,None,None,None,None
3,11052658,NaN,NaN,2.0,NaN,1.0,266.0,17568,NaN,2.0,...,6.037117e+13,Condominium,400.0,-0.005658,2017-01-03,Central,None,Central,None,None
4,11270466,NaN,NaN,2.0,NaN,1.0,266.0,18257,NaN,3.0,...,6.037901e+13,Condominium,596.0,1.174471,2017-01-04,Central,None,Central,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
483832,17095942,NaN,NaN,NaN,NaN,NaN,266.0,2981938,NaN,3.0,...,6.111001e+13,Condominium,NaN,NaN,None,None,None,None,None,None
483833,12003049,NaN,NaN,2.0,NaN,1.0,266.0,2981968,NaN,3.0,...,6.037700e+13,Condominium,18892.0,-0.008285,2017-03-21,Central,None,Central,None,None
483834,11607896,NaN,NaN,2.0,NaN,1.0,266.0,2981979,NaN,3.0,...,6.037268e+13,Condominium,NaN,NaN,None,Central,None,Central,None,None
483835,14608630,NaN,NaN,NaN,NaN,NaN,266.0,2982254,NaN,2.5,...,6.059032e+13,Condominium,NaN,NaN,None,None,None,None,None,None
483836,14675114,NaN,NaN,NaN,NaN,NaN,266.0,2982276,NaN,3.0,...,NaN,Condominium,NaN,NaN,None,None,None,None,None,None

In [ ]:
# Checking to see the number of columns left

houses.shape

In [ ]:
# Running a list of the columns to detect the duplicates

houses.columns.tolist()

**The duplicates are 2 id columns. They are not essential to the data exploration. I will drop them along with other id columns**

**However in case one of the columns are necessary in a different case, I have put together a function that rename the columns in order to differentiate them**

In [ ]:
# # For loop to rename duplicate columns (particularly if they have the same name and not the same content)

# cols=pd.Series(df.columns)
# for dup in df.columns[df.columns.duplicated(keep=False)]: 
#     cols[df.columns.get_loc(dup)] = ([dup + '_' + str(d_idx) 
#                                      if d_idx != 0 
#                                      else dup 
#                                      for d_idx in range(df.columns.get_loc(dup).sum())]
#                                     )
# df.columns=cols

In [ ]:
# Dropping id columns

houses = houses.drop(['typeconstructiontypeid',
 'storytypeid',
 'heatingorsystemtypeid',
 'architecturalstyletypeid',
 'airconditioningtypeid',
 'propertylandusetypeid',
 'id',
 'buildingqualitytypeid',
 'pooltypeid10',
 'pooltypeid2',
 'pooltypeid7',
 'decktypeid'], axis = 1)
houses.columns.tolist()

In [ ]:
houses.shape

In [ ]:
# A loop to print out the value_counts of the columns

for column in houses.columns:
    print(column)
    print(houses[column].value_counts())
    print('\n##########################\n')

In [ ]:
# # This code allows me to display the count of nulls in each column mentioned
# # Still need to shape it into a function or a loop

# houses[['bedroomcnt',
#  'calculatedbathnbr',
#  'finishedfloor1squarefeet',
#  'calculatedfinishedsquarefeet',
#  'finishedsquarefeet12',
#  'finishedsquarefeet15',
#  'finishedsquarefeet50',
#  'finishedsquarefeet6']].isna().sum().reset_index(name="n").plot.bar(x='index', y='n', rot=75)

In [ ]:
# Trying my function

def multi_frequency(df,vars):
    '''multi_frequency takes a dataframe in *arg and a *kwarg in the form of a list of columns
    and return a dataframe with the count and the frequency of the data
    '''
    frequency=df[vars].isnull().sum()
    percentage=df[vars].isnull().sum()*100/(len(df))
    df=pd.concat([frequency,percentage], axis=1, keys=['num_rows_missing', 'pct_rows_missing'])
    return df
multi_frequency(houses, ['latitude'])

In [ ]:
# Displaying the columns and their the count and percent of missing rows ordered by percent in a descending order

multi_frequency(houses, houses.columns).sort_values(by='pct_rows_missing', ascending=False)

In [ ]:
# def multi_frequency_rows(df,vars):
#     '''multi_frequency takes a dataframe in *arg and a *kwarg in the form of a list of columns
#     and return a dataframe with the count and the frequency of the data
#     '''
#     frequency=df[vars].isnull().sum(axis=1)
#     percentage=df[vars].isnull().sum(axis=1)*100/(len(df))
#     df=pd.concat([frequency,percentage], axis=1, keys=['num_entries_missing', 'pct_entries_missing'])
#     return df
# multi_frequency(houses, ['basementsqft'])

In [ ]:
# Assigning the table above to a variable and selecting a cut off for the percentage of rows missing to eliminate

frequency = multi_frequency(houses, houses.columns).sort_values(by='pct_rows_missing', ascending=False)
frequency.pct_rows_missing >= 33.589411

In [ ]:
# Percent of columns that is missing +30% of its entries

percent_nullvalues_columns = (len(frequency[frequency.pct_rows_missing >= 33.589411]))/len(frequency)

In [ ]:
percent_nullvalues_columns

## Takeaways
- 54.71% of the data is missing between 33% and 100% of its values
- This makes me think that the best cut off would be the 33% threshold
- Many columns are id columns and should be removed. They have no impact on the analysis of the data and teh dataframe already has parcelid as unique identifier. Here is the list of the columns to drop:
     'typeconstructiontypeid',
     'storytypeid',
     'heatingorsystemtypeid',
     'buildingclasstypeid',
     'architecturalstyletypeid',
     'airconditioningtypeid',
     'propertylandusetypeid',
     'id',
     'buildingqualitytypeid',
     'id_1'

# Prepare

## 1. Remove any properties that are likely to be something other than single unit properties.

**Single unit properties were selected in the SQL query. The code for it is shown in the SQL query**

## 2. Create a function that will drop rows or columns based on the percent of values that are missing

In [ ]:
houses.head()

### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A. Handling missing values

In [16]:
def handle_missing_values(df, prop_required_column, prop_required_row):
    '''
    handle_missing_values calculates the number of recquired columns and rows
    based on an arbitrary prop_required_row/column float times the number
    of columns/rows respectively as ordered in the function
    then uses the 'thresh' argument to apply that number to the dropna function
    '''
    required_columns = df.shape[0] * prop_required_column
    required_rows = df.shape[1] * prop_required_row
    
    df = df.dropna(axis=0, thresh = required_rows)
    df = df.dropna(axis=1, thresh = required_columns)
    return df

In [17]:
houses = handle_missing_values(houses, prop_required_column=.7, prop_required_row=.7) 
houses.head()

Empty DataFrame
Columns: []
Index: []

In [ ]:
def examine_and_prepare()

In [ ]:
def _maybe_dedup_names(self, names):
    # see gh-7160 and gh-9424: this helps to provide
    # immediate alleviation of the duplicate names
    # issue and appears to be satisfactory to users,
    # but ultimately, not needing to butcher the names
    # would be nice!
    if self.mangle_dupe_cols:
        names = list(names)  # so we can index
        counts = {}

        for i, col in enumerate(names):
            cur_count = counts.get(col, 0)

            if cur_count > 0:
                names[i] = '%s.%d' % (col, cur_count)

            counts[col] = cur_count + 1

    return names

In [ ]:
figure, ax1 = plt.subplots()
ax1.plot(df.iloc[:,0],df.iloc[:,1],linewidth=0.5,zorder=1, label = )
ax1.plot(df.iloc[:,0],df.iloc[:,2],linewidth=0.5,zorder=1, label = )